<h1>Weather Dashboard</h1>
  <div class="container">
    <div class="row">
           <div class="col s12 m12">
             <div class="card blue-grey darken-1">
               <div class="card-content white-text">
                 <ul>
                   <li> Breakout of average number of rides, highest number of rides,
                   and lowest number of rides on days with a high temperature in 10 degree chunks:
                   <%# <%=@trips.call_method%></li><br/></br/></br/>
                   <li> Breakout of average number of rides, highest number of rides,
                   and lowest number of rides on days with precipitation in half-inch increments.:
                   <%# <%=@trips.call_method%></li></br/></br/></br/>
                   <li> Breakout of average number of rides, highest number of rides,
                   and lowest number of rides on days with mean wind speeds in four mile increments.:
                   <%# <%=@trips.call_method%></li></br/></br/></br/>
                   <li> Breakout of average number of rides, highest number of rides,
                   and lowest number of rides on days with mean visibility in miles in four mile increments:
                   <%# <%=@trips.call_method%></li></br/></br/></br/>
                 </ul>
               </div>
          </div>
         </div>
      </div>
    </div>
