<h1>Create a New Trip</h1>


<div class="container">
  <form action='/trips' method="post">

    <input type="text" name="trip[duration]" placeholder="Trip Duration">
    <label for="name">Duration</label>

    <input type="date" name="trip[start_date]" placeholder="Start Date">
    <label for="name">Start Date</label>

    <input type="date" name="trip[end_date]" placeholder="End Date">
    <label for="name">End Date</label>

    <input type="text" name="trip[start_station_id]" placeholder="Start Station">
    <label for="name">Start Station</label>

    <input type="text" name="trip[end_station_id]" placeholder="End Station">
    <label for="name">End Station</label>

    <input type="text" name="trip[bike_id]" placeholder="Bike ID">
    <label for="name">Bike ID</label>

    <input type="text" name="trip[zipcode]" placeholder="Zipcode">
    <label for="name">Zip Code</label>

    <div class="row">
      <div class="col s12">
        <select class="browser-default input-field" name="trip[subscription_id]">
          <% @subscriptions.each do |subscription| %>
            <option value=<%= subscription.id %>><%= subscription.name %></option>
          <% end %>
        </select>
        <label for="name">Subscription Type</label>
      </div>
    </div>

    <a class="waves-effect waves-light btn orange darken-4">
      <input type="submit" value="Create New Trip" />
    </a>

  </form>
</div>
