<h1>Stations</h1>

<div class="stations">
  <% @stations.each do |station| %>
    <h3>Name: <%= station.name %></h3>
    <h3>Dock Count: <%= station.dock_count %></h3>
    <h3>City: <%= station.city %></h3>
    <p>Installation Date: <%= station.installation_date %></p>
  <% end %>
</div>
