<div class="container">
  <div id="top">
      <img id="picture" class="img-responsive" src="../public/img/girl_bike_share_SFO.jpg" alt="Image of me">
  </div>
  <div class="homepage-center">
    <h1>Bay Area Bike Share</h1>
      <p class="brief-me">Join a fantastic service in the Bay Area that will<br />
        make your commute a great eco-friendly experience.
      </p>
      <p class="quote">
        "Best way to explore the wonderful and iconic city of San Francisco"<br />
      </p>
      <p class="bottom">
        <a href="about.erb">Learn more about it</a>
      </p>
  </div>
</div>
