<h1>Create a New Station</h1>

<div class="station-new">
  <form action='/stations' method="post">
    <label for="name">Name: </label>
    <input type="textfield" name="station[name]">
    <label for="dock_count">Dock Count: </label>
    <input type="textfield" name="station[dock_count]">
    <label for="city">City: </label>
    <select name="station[city_id]">
      <% @cities.each do |city| %>
        <option value=<%= city.id %>><%= city.name %></option>
      <% end %>
    </select>
    <label >Installation Date: </label>
    <input type="textfield" name="station[installation_date]">
    <input type="submit" value="Create New Station" />
  </form>
</div>
