<h1>Welcome to Bay Area Bike Share</h1>
<div class="container"
<h2></h2>
<img class="responsive-img" src="imgs/bikesharebridge.jpg" alt="Bike with San Francisco bridge in the background" style="width:500px;height:400px;">
</div>
