<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amara Lovato website</title>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/main.css" />
    <href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- <header>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <ul class="nav nav-pills">
            <li role="presentation" class="menu"><a href="index.erb">Home</a></li>
            <li role="presentation" class="menu"><a href="about.erb">About</a></li>
            <li role="presentation" class="menu"><a href="stations.erb">Stations</a></li>
            <li role="presentation" class="menu"><a href="register.erb">Register</a></li>
            <li role="presentation" class="menu"><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header> -->

  <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <a href="index.php" class='navbar-brand'>Bay Area Bike Share</a>
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav nav-pills navbar-right navbar-nav">
                  <li role="presentation" class="menu"><a href="about.php">About</a></li>
                  <li role="presentation" class="menu"><a href="about.php">Stations</a></li>
                  <li role="presentation" class="menu"><a href="about.php">Register</a></li>
                  <li role="presentation" class="menu"><a href="about.php">Contact</a></li>
                  <li role="presentation" class="menu dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Community<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Gallery</a></li>
                      <li><a href="#">Reviews</a></li>
                      <li><a href="#">Give us feedback</a></li>
                    </ul>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
    <div class="container">
      <div id="top">
          <img id="picture" class="img-responsive" src="../public/img/girl_bike_share_SFO.jpg" alt="Image of me">
      </div>
      <div class="homepage-center">
        <h1>Bay Area Bike Share</h1>
          <p class="brief-me">Join a fantastic service in the Bay Area that will<br />
            make your commute a great eco-friendly experience.
          </p>
          <p class="quote">
            "Best way to explore the wonderful and iconic city of San Francisco"<br />
          </p>
          <p class="bottom">
            <a href="about.erb">Learn more about it</a>
          </p>
      </div>
    </div>
    <footer class="primary-footer">
      <small class="copyright">&copy; Bay Area Bike Share</small>
      <ul class="social-media">
        <li class="social-media">
          <a href="#" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
        </li>
        <li class="social-media">
          <a href="#" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        </li>
        <li class="social-media">
          <a href="#" target="_blank"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
        </li>
        <li class="social-media">
          <a href="#" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a>
        </li>
      </ul>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
